%div.content
  %h1 Talks#edit_talk
  .talk_form
  = form_for @talk do |f|
    = render :partial => "form", :locals => {:f => f, :talk => @talk}


  :javascript
    $('#duration input[type="range"').on('change', function() {
      $parent = $(this).parent();
      $parent.find('em').html($(this).val());
      console.log($(this).val())
    });
