<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<ul class="list_table">
  <li>
    <% @users.each do |user| %>
      <%= user.email %>
      <a href="1/profile">Show</a>
      <a href="1/edit">Edit</a>
    <% end %>
  </li>
</ul>


