%h1 Admin rails Homepage
%p Find me in app/views/pages/index.html.erb

%div.category
  %h2 Users
  %ul
    %li
      = link_to 'User Index', users_home_path
    %li
      = link_to 'Sign Up', user_signup_path
    %li
      = link_to 'Show all users', users_all_path