.accordion-content {
    /* css animation */
    overflow: hidden;
    padding: 0 1em;
    max-height: 0;
    opacity: 0;

    /* add browser prefixes */
    transition: all 0.2s ease;
}

.content-open {  /* this is the answer element */ 
    max-height: 500px;
    opacity: 1;
    padding: 1em;

}

.accordion-trigger {
    padding: .6em 1em;
      border: 1px solid #333;
  border-radius: 2px;
}

.accordion-trigger:hover {
    cursor: pointer;
}
