/* PLACEHOLDER STUFF for making slider; assume ther*/
* {
  margin: 0;
  padding: 0;
}

/* 'cover' left side for toggle click event */
.schedule-cover, .payment-cover {
  position: fixed;
  background-color: rgba(155,155,155,.5);
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 998;
}

.payment-cover {
  z-index: 1000;
}


/* slide out pages */
.schedule, .payment {
  display: none;
  position: fixed;
  right: 0;
  background: white;
  height: 100vh;
  vertical-align: top;
}

.schedule {
  z-index: 999;
  width: 93vw;

}

.payment {
  width: 86vw;
  z-index: 1001;
}
