/* 'cover' left side for toggle click event */
.schedule-slider-cover, .payment-slider-cover {
  position: fixed;
  background-color: rgba(155,155,155,.5);
  display: none;
  height: 100vh;
  width: 100vw;
}

.schedule-slider-cover {
  z-index: 50;
}

.payment-slider-cover {
  z-index: 52;
}

/* slide out pages */
.schedule-slider, .payment-slider {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  min-height: 100vh;
  vertical-align: top;
  overflow-y: auto;
}

.schedule-slider {
  width: 93vw;
  z-index: 51;
}

.payment-slider {
  width: 86vw;
  z-index: 53;
}
