@import "foundation/components/top-bar";

nav {
  > ul {
    padding: 0;
  }
}
nav * {
  background-color: #ea3939 !important;
  color: #fde705 !important;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.logged_in {
  color: white;
  font-size: 0.8125rem;
  margin-right: 10px;
  form {
    display:inline-block;
  }
}

.top-bar button{
  padding: 5px 15px;
  background: none;
  border: 1px solid #fafafa;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
  top: 0;
}

.side-nav {

  padding-top:30px;
  padding-left: 20px;
  background-color: #333;
  margin-top: -10px;
  height: 600px;
  * {
    color: #ccc;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
  }
  h2{
    text-transform:uppercase;
    color: #fde705;
  }
  ul {
    padding-left: 0;
  }
  li{
    list-style: none;
    a:hover{
      color: white;
    }
  }

}
