%ul.left
  %li.has-dropdown.not-click
    %a{:href => users_all_path } Users
    %ul.dropdown
      %li
        = link_to 'User Index', users_home_path
      %li
        = link_to 'Sign Up', user_signup_path
      %li
        = link_to 'Show all users', users_all_path

  %li.has-dropdown.not-click
    %a{:href => speakers_path } Speakers
    %ul.dropdown
      %li
        =link_to 'Add Speaker', new_speaker_path
      %li
        =link_to 'All Speakers', speakers_path

  %li.has-dropdown.not-click
    %a{:href => talks_path } Talks
    %ul.dropdown
      %li
        =link_to 'Add Talk', new_talk_path
      %li
        =link_to 'All Talks', talks_path

