<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi there <%=@first_name%>, here's your receipt you jerk!</p>


    <br>
    <p>Much love</p>
    <p>- The WDIConf crew</p>
    

    
    <img src="http://i.imgur.com/1xseKdL.png?1" alt="uxb logo">

  </body>
</html>
