<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi there <%=@name%>, here's your receipt you jerk!</p>


    <br>
    <p>Much love</p>
    <p>- The WDIConf crew</p>

    <%= image_tag("/logo/emaillogo.png", 'alt'=> "WDIConf Logo") %>

  </body>
</html>
