%div.content
  %h1 Users#new

  %div.user_form
    = form_for :user, :action => user_signup_path  do |f|
      = render :partial => "form", :locals => {:f => f}
      = f.submit "Sign Up"

  - if !@errors.nil?
    %ul.Signup_Errors
    - for message_error in @errors
      %li
        * #{message_error}